@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
   <div class="col-xs-6 col-sm-6 col-md-4 pull-left">
       <form action="loadBeach" method="POST">
        <button class="btn btn-submit" type="submit">Load</button>
        </form>
   </div>
</div>

